#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	npm install --production --ignore-scripts

override_dh_auto_install:
	install -d debian/node-red-admin/usr/share/nodejs/node-red-admin
	cp -a *.js *.json debian/node-red-admin/usr/share/nodejs/node-red-admin/
	[ -d node_modules ] && install -d debian/node-red-admin/usr/share/nodejs/node-red-admin/node_modules && \
		cp -a node_modules/. debian/node-red-admin/usr/share/nodejs/node-red-admin/node_modules/ || true
	install -d debian/node-red-admin/usr/bin
	printf '#!/bin/sh\nexec /usr/bin/node /usr/share/nodejs/node-red-admin/node-red-admin.js "$$@"\n' \
		> debian/node-red-admin/usr/bin/node-red-admin
	chmod 755 debian/node-red-admin/usr/bin/node-red-admin

override_dh_shlibdeps:

override_dh_strip:

override_dh_fixperms:
	dh_fixperms
	chmod 755 debian/node-red-admin/usr/bin/node-red-admin
